.people-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    
}

.people-list a{
    text-decoration: none;
    color: black;
  }

.person-card {
    border: 1px solid black;
    background-color: rgb(67, 119, 30);
    height: 300px;
    width: 300px;
    object-fit:cover;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    border-radius: 10px;
  }

  .card-image{
    object-fit:cover;
    margin-bottom: 20px;
    height: 200px;
    width: 300px;

  }

.spinner {
  width: 24px;
  animation: loading infinite 3s linear;
}

@keyframes loading{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

.image-form {
  margin-left: auto;
  margin-right: auto;
  padding-right: 155px;
  display: flex;
  justify-content:center;
 
  
}

.input-buttons {
  display: flex;
  margin-left: 55px;
  
}

.inspection {
  display:grid;
  margin-left: 150px;
  margin-top: -300px;
  width: 100px;
}

.inspection-location {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(67, 119, 30);
  font-size: 50px;
  margin-bottom: 5px;
  -webkit-text-stroke: .5px;
  -webkit-text-stroke-color: black;
}

.inspection-plant {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;

}


.inspection-info {
  margin-top: -10px;

}

.comment-user {
  color: chocolate;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: -20px;

}

.comment-post {
  color: red;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.comment-list {
  list-style: none;
}

.show-photo {
  height: 300px;
  width: 300px;
  object-fit:cover;
  border-radius: 10%;

}

.delete {
  margin-bottom: 10px;
  margin: 10px;
}
