*{
    box-sizing: border-box;
  }
  
  .nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 8px 20px;
  }
  
  .nav div {
    margin-left: 20px;
  }
  
  .nav img {width: 45px; height: auto;}

  .edit-form {
    padding: 32px;
    display: flex;
    justify-content: center;

  }

  .footer {
    background-color: rgb(67, 119, 30);
    border: 2px solid black;
    color: rgb(187, 52, 30);
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: black;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .header {
    background-color: rgb(67, 119, 30);
    border: 3px solid black;
    color: rgb(187, 52, 30);
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: black;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  